<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    David Padilla: Engineer, Manager, Rubyist, Speaker
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/dabpadilla.rss" />
</head>
<body data-no-turbolink>
<div class="container">
  <%= render "navigation.html", conn: @conn %>
  <div class="row header hidden-xs">
    <div class="col-md-11 col-md-offset-1">
    <h1 id="david-padilla">David Padilla</h1>
    <p class="lead">Engineer, Manager, Rubyist, Speaker</p>
    </div>
  </div>

  <div class="row main">
    <div class="col-md-10 col-md-offset-1">
      <%= @inner %>
    </div>
  </div>

  <footer class="col-md-12">
    David Padilla, 2015
    <br>
    <a href="http://twitter.com/dabit">Twitter</a> |
    <a href="http://www.github.com/dabit">Github</a> |
    <a href="http://www.linkedin.com/in/dpadilla">LinkedIn</a>
  </footer>
</div>
<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
<script>require("web/static/js/app")</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<%= render "analytics.html" %>
<script>
  <%= if assigns[:push_state] do %>
    if (history && history.pushState) {
      var stateObj = { module: 'blog' }
      history.pushState(stateObj, "<%= @post.title %>", "<%= show_post_path(@conn, @post) %>");
    }
  <% end %>

  var disqus_shortname = 'david-padilla';

  <%= if assigns[:post] do %>
    var disqus_identifier = '<%= "#{@post.id}-#{@post.permalink}" %>';
  <% end %>

  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());

  $(document).ready(function() {
    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  });
</script>
</body>
</html>
