<div class="page-header">
  <h1>Posts</h1>
  <%= link "Click here for new post", to: admin_posts_path(@conn, :new) %>
</div>
<%= for post <- @posts do %>
  <%= render "post.html", conn: @conn, post: post %>
<% end %>
